main {
    /* background-color: rgb(33, 33, 33); */
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

svg {
    /* border: 1px solid black; */
}

.graphics-container {
    position: sticky;
    top: 0;
}

.step-container {
    padding-top: 25vh;
}

.step {
    align-items: center;
    display: flex;
    height: 50vh;
    justify-content: center;
    margin-bottom: 40vh;
    position: relative;
}

.timeline svg {
    background: rgb(33, 33, 33);

}

.timeline text {
    fill: rgb(232, 229, 229);
}

.timeline .step {
    height: 90vh;
}


.step p {
    background-color: rgb(232, 229, 229);
    font-size: 20px;
    margin: 0 auto;
    padding: 2.5rem;
    width: 40%;
    opacity: .2;
}

